<div id="running-text" class="d-flex gap-2">
  <div class="bg-primary py-1 px-3 text-white">Info</div>
  <marquee class="bg-white rounded-2" behavior="" direction=""
    >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit unde nam
    praesentium adipisci voluptatum? Consequatur voluptatem doloribus libero
    provident quo itaque quas, voluptates obcaecati! Eaque tempora incidunt
    suscipit ipsa soluta?</marquee
  >
  <div class="bg-primary rounded-1">icon</div>
  <div class="bg-danger rounded-1">lock</div>
  <div class="bg-warning rounded-1">lock</div>
</div>
s
