<div class="col-6 col-md-4 mb-2">
  <div class="d-flex w-100 h-100">
    <div
      class="box-number d-flex flex-column align-items-center px-3 py-2 w-fit-content text-white font-poppins fw-bold fs-5"
    >
      1
    </div>

    <div class="box-information d-flex flex-column gap-2 w-100 p-2">
      <h6 class="font-poppins text-black-secondary fw-light fs-7 mb-0">
        JIS Disebut Tak Sesuai Standar FIFA, Anies: Kurangnya Suatu Tempat
        adalah Kurangnya Kita
      </h6>

      <p class="font-poppins text-muted fw-light fs-8 mb-0">
        Dibaca 58.301 kali
      </p>
    </div>
  </div>
</div>
