<swiper-container class="mySwiper" effect="cards" grab-cursor="true">
  <swiper-slide>
    <img src="../../assets/images/card-items.png" alt="items" />
    <div class="fs-7 opacity-75 fw-light text-center">13 Feb 2023</div>
    <div class="text-center fs-7">
      Penyaluran Bantuan Langsung Tunai Dana Desa (BLT-DD) Pekon Podomoro
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="../../assets/images/card-items.png" alt="items" />
    <div class="fs-7 opacity-75 fw-light text-center">13 Feb 2023</div>
    <div class="text-center fs-7">
      Penyaluran Bantuan Langsung Tunai Dana Desa (BLT-DD) Pekon Podomoro
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="../../assets/images/card-items.png" alt="items" />
    <div class="fs-7 opacity-75 fw-light text-center">13 Feb 2023</div>
    <div class="text-center fs-7">
      Penyaluran Bantuan Langsung Tunai Dana Desa (BLT-DD) Pekon Podomoro
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="../../assets/images/card-items.png" alt="items" />
    <div class="fs-7 opacity-75 fw-light text-center">13 Feb 2023</div>
    <div class="text-center fs-7">
      Penyaluran Bantuan Langsung Tunai Dana Desa (BLT-DD) Pekon Podomoro
    </div>
  </swiper-slide>
  <swiper-slide>
    <img src="../../assets/images/card-items.png" alt="items" />
    <div class="fs-7 opacity-75 fw-light text-center">13 Feb 2023</div>
    <div class="text-center fs-7">
      Penyaluran Bantuan Langsung Tunai Dana Desa (BLT-DD) Pekon Podomoro
    </div>
  </swiper-slide>
</swiper-container>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
