<div class="card-article">
  <div class="w-100 img">
    <img
      src="https://ichef.bbci.co.uk/news/1024/branded_news/63FD/production/_92279552_img_0050.jpg"
      alt="img"
      width="100%"
      class=""
    />
  </div>
  <div class="py-2 px-3">
    <div class="d-flex gap-2">
      <img src="../../assets/icons/icon-date.svg" alt="date" />
      <div class="fs-md-7 fs-8 fw-normal">13 Jan 2012</div>
    </div>
    <div class="fs-7 fs-md-5 fw-bold">
      Pembangunan Kantor Desa Sidodadi Yang Mewah
    </div>
  </div>
</div>
