<nav
  class="container-fluid d-flex justify-content-between align-items-center w-100 mb-5"
>
  <!-- Menu Icon -->
  <img src="../../assets/icons/icon-menus.svg" alt="menu-icon" />

  <div class="nav-items d-md-flex align-content-center gap-4 h-fit-content">
    <div class="nav-item w-fit-content h-fit-content d-flex gap-2 card-nav">
      <img src="../../assets/icons/icon-home.svg" alt="home-icon" />
      <div class="fs-5 fw-bold">Home</div>
    </div>
    <div
      class="nav-item w-fit-content h-fit-content d-flex gap-2 card-nav-active"
    >
      <img
        src="../../assets/icons/icon-monograph-active.svg"
        alt="monograph-icon"
      />
      <div class="fs-5 fw-bold">Monografi</div>
    </div>
    <div class="nav-item w-fit-content h-fit-content d-flex gap-2 card-nav">
      <img src="../../assets/icons/icon-statistic.svg" alt="" />
      <div class="fs-5 fw-bold">Statistik</div>
    </div>
    <div class="nav-item w-fit-content h-fit-content d-flex gap-2 card-nav">
      <img src="../../assets/icons/icon-article.svg" alt="" />
      <div class="fs-5 fw-bold">Artikel</div>
    </div>
  </div>

  <!-- User Profile Icon -->
  <img src="../../assets/icons/icon-user-profile.svg" alt="user-icon" />
</nav>
