<div class="card-video">
  <div class="d-flex flex-column align-content-center">
    <div
      class="bg-dark my-3 fs-7 rounded-5 text-primary bg-opacity-10 fw-bold py-2 px-3 mb-4"
    >
      Profil Desa
    </div>
    <div class="fs-5 mb-4 fw-bold">
      Video Company Profile Pekon Podomoro Pringsewu
    </div>
    <div class="fs-7 fw-light">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </div>
  </div>
  <div class="rounded-3">
    <div class="player-video">
      <iframe
        width="100%"
        heigth="100%"
        src="https://www.youtube.com/embed/lWu81iEvuPY"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
