main section#hero {
  background: url("../../assets/images/bg-hero-statistics.png") no-repeat;
  background-size: 100%;
}

section#hero div.card-nav-active {
  background: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  color: #1da1f2;
  border: 1px solid;
  cursor: pointer;
}

section#hero div.card-nav {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px 20px;
  color: #2f3739;
  cursor: pointer;
}

section#main section#hero {
  background: url("../../assets/images/bg-hero-statistics.png") no-repeat;
  background-size: 100%;
}

section#hero section#sidebar-menu {
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  gap: 50px;
  padding: 24px 4px;
}

section#hero section#monograph-financial-data section#content {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
}

section#monograph-financial-data section#content div.heading {
  border-bottom: 3px solid #1da1f2;
}

section#content div.custom-card-content {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}

section#content div.custom-card-content div.card-header {
  background: #3c89a6;
  border-radius: 8px 8px 0 0;
}

section#content div.custom-card-content div.card-body {
  border-radius: 0 0 8px 8px;
  border-radius: 1px solid #c9c9c9;
}

@media only screen and (min-width: 1024px) {
  section#hero section#monograph-financial-data div.custom-card {
    padding: 16px;
  }
}

@media only screen and (max-width: 729px) {
  section#hero section#sidebar-menu {
    border-radius: 45px;
    background: rgba(255, 255, 255);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    gap: 50px;
    padding: 10px 20px;
  }
}
