main section#hero {
  background: url("../../assets/images/bg-hero-statistics.png") no-repeat;
  background-size: 100%;
}

section#hero section#content div.custom-card,
section#main section#hero {
  background: url("../../assets/images/bg-hero-statistics.png") no-repeat;
  background-size: 100%;
}

section#hero div.card-nav-active {
  background: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  color: #1da1f2;
  border: 1px solid;
  cursor: pointer;
}

section#hero div.card-nav {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px 20px;
  color: #2f3739;
  cursor: pointer;
}

section#hero section#sidebar-menu {
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  gap: 50px;
}

section#hero section#monograph-village-profile div.custom-card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
}

section#monograph-village-profile section#content section#left-content {
  border-radius: 20px;
  background: var(--bg-gradient);
}

section#monograph-village-profile section#content section#right-content {
  border: 1px solid #1da1f2;
  background-color: #fff;
}

section#content section#left-content div.heading {
  border-radius: 20px 0px 0px 20px;
  background: linear-gradient(90deg, #fff 46.35%, rgba(255, 255, 255, 0) 100%);
}

section#content section#right-content div.heading {
  border-bottom: 3px solid #1da1f2;
}

section#content section#right-content div.custom-card-gradient {
  border-radius: 20px;
  background: url("../../assets/images/bg-custom-radial.png") no-repeat;
  background-size: cover;
}

section#right-content div.custom-card-gradient div.card-header div.divider {
  width: 150px;
  height: 1px;
  background: #000;
}

section#content section#left-content div.box-description {
  background: rgba(255, 255, 255, 0.5);
  /* Effect Mengambang */
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 1024px) {
  section#hero section#monograph-village-profile div.custom-card {
    padding: 50px 68px 30px;
  }
}
