<footer>
  <section id="content" class="container-fluid px-5 py-5">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="d-flex flex-column gap-5">
          <div class="heading d-flex flex-column gap-2">
            <h4 class="fw-bolder font-helvetica-neue fs-4 d-inline">
              Website Resmi
            </h4>

            <div class="divider"></div>
          </div>

          <div class="d-flex gap-3 align-items-start">
            <!-- Logo -->
            <div class="box-logo p-2 bg-white rounded-2">
              <img src="../../assets/images/logo.png" alt="logo" />
            </div>

            <div class="information">
              <h2 class="fw-bolder font-roboto fs-2">Pekon Podomoro</h2>

              <p class="fs-6 fw-semibold font-roboto w-90">
                Jl. Nawatama. No.175, Podomoro, Kec. Pringsewu, Kabupaten
                Pringsewu, Lampung 35373
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="d-flex flex-column gap-5">
          <div class="heading d-flex flex-column gap-2">
            <h4 class="fw-bolder font-helvetica-neue fs-4 d-inline">
              Hubungi Kami
            </h4>

            <div class="divider"></div>
          </div>

          <div class="list-contacts d-flex flex-column gap-2">
            <div class="d-flex gap-2">
              <!-- Phone Icon -->
              <img
                src="../../assets/icons/icon-phone.svg"
                alt="icon-phone"
                width="28"
                height="28"
              />

              <h6 class="fs-5 fw-bolder font-helvetica-neue">
                +62 823 7897 9192
              </h6>
            </div>

            <div class="d-flex gap-2">
              <!-- Mail Icon -->
              <img
                src="../../assets/icons/icon-mail.svg"
                alt="icon-mail"
                width="28"
                height="28"
              />

              <h6 class="fs-5 fw-bolder font-helvetica-neue">
                podomoro@gmail.com
              </h6>
            </div>

            <div class="list-social-media d-flex gap-2">
              <a
                href="https://facebook.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="../../assets/icons/icon-facebook.svg"
                  alt="icon-facebook"
                  width="70"
                  height="70"
                />
              </a>

              <a
                href="https://instagram.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="../../assets/icons/icon-instagram.svg"
                  alt="icon-instagram"
                  width="70"
                  height="70"
                />
              </a>

              <a
                href="https://youtube.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="../../assets/icons/icon-youtube.svg"
                  alt="icon-youtube"
                  width="70"
                  height="70"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="d-flex flex-column gap-5">
          <div class="heading d-flex flex-column gap-2">
            <h4 class="fw-bolder font-helvetica-neue fs-4 d-inline">
              Lokasi Balai Desa
            </h4>

            <div class="divider"></div>
          </div>

          <!-- Google Maps -->
          <img
            src="../../assets/images/g-maps.png"
            alt="google-maps"
            width="332"
            height="180"
          />
        </div>
      </div>
    </div>
  </section>

  <section id="copyrights" class="container-fluid px-5 pt-4 pb-3">
    <div class="d-flex justify-content-between align-items-center">
      <p class="fs-6 fw-semibold font-roboto">
        | Dokumentasi | Tentang | Kontak | Privasi |
      </p>
      <p class="fs-6 fw-semibold font-roboto">
        Copyright© 2023. MetaDesa, Support By Smart village
      </p>
    </div>
  </section>
</footer>
