<!-- Navigation Bar -->
<nav
  class="container-fluid d-flex justify-content-between align-items-center w-100 mb-5"
>
  <!-- Menu Icon -->
  <img src="../../assets/icons/icon-menus.svg" alt="menu-icon" />

  <div class="nav-items d-flex align-content-center gap-4 h-fit-content">
    <div
      class="nav-item w-fit-content h-fit-content d-flex align-items-center gap-1 py-2 px-4"
    >
      <img src="../../assets/icons/icon-home.svg" alt="icon-home" />

      <p class="font-roboto fw-bold fs-5 text-black mb-0">Beranda</p>
    </div>
    <div
      class="nav-item nav-active w-fit-content h-fit-content d-flex align-items-center gap-2 py-2 px-3"
    >
      <img
        src="../../assets/icons/icon-monograph-active.svg"
        alt="icon-monograph"
      />

      <p class="font-roboto fw-bold fs-5 text-primary mb-0">Monografi</p>
    </div>
    <div
      class="nav-item w-fit-content h-fit-content d-flex align-items-center gap-1 py-2 px-4"
    >
      <img src="../../assets/icons/icon-statistics.svg" alt="icon-statistics" />

      <p class="font-roboto fw-bold fs-5 text-black mb-0">Statistik</p>
    </div>
    <div
      class="nav-item w-fit-content h-fit-content d-flex align-items-center gap-1 py-2 px-4"
    >
      <img src="../../assets/icons/icon-articles.svg" alt="icon-articles" />

      <p class="font-roboto fw-bold fs-5 text-black mb-0">Artikel</p>
    </div>
  </div>

  <!-- User Profile Icon -->
  <img src="../../assets/icons/icon-user-profile.svg" alt="user-icon" />
</nav>
