main section#hero {
  background: url("../../assets/images/bg-hero-home.png") no-repeat;
  background-size: 100%;
  height: 540px;
}

section#hero div.card-nav-active {
  background: #ffffff;
  border-radius: 25px;
  padding: 5px 20px;
  color: #1da1f2;
  border: 1px solid;
  cursor: pointer;
}

section#hero div.card-nav {
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.25);
  padding: 5px 20px;
  color: #2f3739;
  cursor: pointer;
}

section#hero section#content-hero {
  margin: 57px 44px 10px 44px;
  display: flex;
  justify-content: space-between;
}

section#hero section#content-hero div.title-head {
  font-family: Roboto;
  font-size: 60px;
  line-height: normal;
}

section#hero section#content-hero div.sub-title-head {
  font-size: 24px;
  line-height: normal;
}

section#hero div#left-content {
  width: 820px;
}

section#hero div#right-content {
  margin-right: 50px;
}

section#hero section#content-hero div.card-sholat {
  border-radius: 10px;
  width: 125px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
}

section#hero section#content-hero div.text-bottom {
  color: #ffffff;
  -webkit-text-stroke: 0.5px #000000;
  font-weight: 700;
}

div#running-text {
  background: #d1d1d1;
  padding: 4px;
}

section#menu-selector {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

section#menu-selector div.card-menu {
  border-radius: 20px;
  background: #fff;
  width: 200px;
  height: 200px;
  padding: 34px 10px 10px 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

section#ktp div.left-content {
  background: url("../../assets/images/bg-ktp.png") no-repeat;
  padding-top: 73px;
  margin-left: 22px;
  margin-top: 32px;
}

section#ktp div.card-ktp {
  background: url("../../assets/icons/bg-card-ktp.svg") no-repeat;
  background-position: center top;
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
}

section#ktp {
  background-color: #ecf8fd;
}

section#ktp div#right-content {
  padding: 41px 38px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 24px 69px 0px 69px;
}

section#village {
  margin: 0px 70px;
}

section#village div.head-card {
  padding: 50px 36px;
  border-radius: 15px;
  background: var(--text-dark-color, #fff);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
}

section#village div.head-img {
  width: 100%;
}

section#village div.right-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

section#video div.card-video {
  border-radius: 20px;
  background: var(--text-dark-color, #fff);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 560px;
  gap: 15px;
  padding: 25px 20px;
}

section#video div.player-video {
  width: 300px;
  height: 250px;
  display: flex;
  align-items: center;
}

section#article div.card-article {
  width: 384px;
  height: 350px;
  border-radius: 15px;
  background: var(--text-dark-color, #fff);
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  cursor: pointer;
}

section#article div.date {
  font-size: 16px;
}

section#article div.title {
  font-size: 20px;
}

section#article div.img img {
  height: 235px;
  object-fit: cover;
}

section#transparansi div.custom-card-content {
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 30px 30px 30px 30px;
}

section#transparansi div.custom-card-content div.card-header {
  border-radius: 30px 30px 0px 0px;
  background: var(
    --bg-gradien,
    linear-gradient(
      135deg,
      rgba(143, 231, 255, 0.5) 0%,
      rgba(57, 160, 223, 0.5) 100%
    )
  );
}

section#transparansi div.custom-card-content div.card-body {
  border-radius: 0 0 30px 30px;
  border-radius: 1px solid #c9c9c9;
}
@media only screen and (max-width: 1024px) {
  section#menu-selector {
    margin: 20px 20px 10px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  section#village {
    margin: 0px auto;
  }

  section#video div.card-video {
    border-radius: 20px;
    background: var(--text-dark-color, #fff);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    width: auto;
    gap: 15px;
    padding: 25px 20px;
  }

  section#video div.player-video {
    width: auto;
    height: 250px;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 769px) {
  section#ktp div.card-ktp {
    background: url("../../assets/icons/bg-card-ktp.svg") no-repeat;
    background-position: center top;
    width: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  }
  section#hero section#content-hero div.title-head {
    font-family: Roboto;
    font-size: 30px;
    line-height: normal;
  }

  section#hero section#content-hero div.sub-title-head {
    font-size: 16px;
    line-height: normal;
  }

  section#hero section#content-hero {
    margin: 0px 24px;
    display: block;
  }

  section#hero div#left-content {
    width: auto;
  }

  section#hero div#right-content {
    margin-right: 20px;
    background-color: #f3f3f3;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main section#hero {
    background: url("../../assets/images/bg-hero-home.png") no-repeat;
    background-size: 100%;
    height: max-content;
  }

  section#menu-selector div.card-menu {
    border-radius: 20px;
    background: #fff;
    padding: 20px 10px 10px 10px;
    width: 180px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  section#ktp div.left-content {
    background: url("../../assets/images/bg-ktp.png") no-repeat;
    padding-top: 73px;
    margin-left: 0px;
    margin-top: 32px;
  }

  section#village {
    margin: 0px 20px;
  }

  section#village div.head-card {
    padding: 16px 20px;
    border-radius: 15px;
    background: var(--text-dark-color, #fff);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
  }

  section#village img.head-img {
    max-width: 150px;
  }

  section#village div.right-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  section#video div.card-video {
    border-radius: 20px;
    background: var(--text-dark-color, #fff);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    display: block;
    width: auto;
    gap: 15px;
    padding: 25px 20px;
  }

  section#video div.player-video {
    width: auto;
    display: flex;
    align-items: center;
  }

  section#article div.card-article {
    width: 190px;
    height: 350px;
    border-radius: 15px;
    background: var(--text-dark-color, #fff);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
  }

  section#article div.img img {
    height: 235px;
    object-fit: cover;
  }

  section#article div.date {
    font-size: 12px;
  }

  section#article div.title {
    font-size: 14px;
  }
}

@media only screen and (max-width: 426px) {
  section#hero section#left-content {
    width: 100%;
  }

  section#menu-selector {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  section#menu-selector div.card-menu {
    border-radius: 20px;
    background: #fff;
    padding: 10px 10px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  section#hero div#left-content {
    width: auto;
  }

  section#ktp div.left-content {
    background: url("../../assets/images/bg-ktp.png") no-repeat;
    padding-top: 73px;
    margin-left: 0px;
    margin-top: 32px;
  }

  section#video div.card-video {
    border-radius: 20px;
    background: var(--text-dark-color, #fff);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    display: block;
    width: auto;
    gap: 5px;
    padding: 15px 10px;
  }

  section#video div.player-video {
    width: auto;
    display: flex;
    align-items: center;
  }

  section#article div.card-article {
    width: 120px;
    height: 300px;
    border-radius: 15px;
    background: var(--text-dark-color, #fff);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    cursor: pointer;
  }

  section#article div.img img {
    height: 150px;
    object-fit: cover;
  }

  section#article div.date {
    font-size: 12px;
  }

  section#article div.title {
    font-size: 14px;
  }
}

section#hero swiper-container {
  width: 240px;
  height: 320px;
}

section#video swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 18px;
  font-weight: bold;
  background-color: white;
}
